<div class="foot">
 <div class="contact" >
            <img  src="./assets/sharedphotos/caIcon.png">
            <div>
           <p class="label">Call:</p>
        <p *ngIf="user"> {{user.phoneNumber}}</p>
        </div>
    </div>
    <div class="contact" >
            <img  src="./assets/sharedphotos/contactIcon.png">
            <div>
           <p class="label">Contact:</p>
            <p *ngIf="user"> {{user.email}}</p>
        </div>
    </div>
    <div class="contact" >
            <img  src="./assets/sharedphotos/contactIcon.png">
            <div>
           <p class="label">Contact:</p>
            <p *ngIf="user"> {{user.email}}</p>
        </div>
    </div>
    
    <div class="contact" >
        <button [routerLink]="['']">View other people</button>
    </div>
    
</div>
