<div class="foot">
 <div class="contact" >
        <i class="fas fa-phone-square-alt fa-3x"></i>
            <div class="data">
           <p class="label">Call:</p>
        <p *ngIf="user"> {{user.phoneNumber}}</p>
        </div>
    </div>
    <div class="contact" >
            <i class="far fa-envelope fa-3x"></i>
            <div class="data">
           <p class="label">Contact:</p>
            <p *ngIf="user"> {{user.email}}</p>
        </div>
    </div>
    <div class="contact" >
            <i class="far fa-envelope fa-3x"></i>
            <div class="data">
           <p class="label">Contact:</p>
            <p *ngIf="user"> {{user.email}}</p>
        </div>
    </div>
    
    <div class="contact" >
        <button [routerLink]="['']">View other people</button>
    </div>
    
</div>
