@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
 //Za user stranicu
    //pozadina
    $background1: white;
    $background2: black;
    $transp: 0.6; //da bude prozirna

    //tekst
    $namefont: 24px;
    $titlefont: 18px;
    $paragraphfont: 12px;
    $textcolor1: black;
    $textcolor2: white; 
    $textstyle: 'Vollkorn', serif;

    //slika
    $border-radius: 100%;
    $shadow1: black;
    $shadow2: white;
    $picture-size: 50%;
    
    //Za CV stranicu

    $footerbackground: rgb(232,53, 86);
    $mainbackground: rgb(234, 229, 229); 
    $maintextcolor: rgb( 77, 77, 77);

    //da glavni blok bude centriran

    $mainposition: relative;
    $maindisplay: block;
    $left: auto;
    $right: auto;




