*{ 
    //pozadine
    $background1: black;
    $background2: white;

    
    //text 

    $mainfont: 'Vollkorn', serif;
    $namefont: 18px;
    $titlefont: 16px;
    $paragraphfont: 12px;
    $color1: white;
    $color2: black;


    // slike
    $round: 100%; //border radius;
    $shadow1: 0 0 70px white;
    $shadow2: 0 0 70px black;

    
}