<body class="page" *ngIf="resume">

    <div class="main">
    <h1 class="maintitle">RESUME</h1>

        <div class="cont">
            <div class="title"><h1 class="section">Education</h1></div>
            <div  class="text">
               
                <h2>{{resume.university.name}}</h2>
                <p>{{resume.university.shortDescription}}</p>
                <p>{{resume.university.description}}</p>
                <h2>{{resume.highSchool.name}}</h2>
                <p>{{resume.highSchool.shortDescription}}</p>
                <p>{{resume.highSchool.description}}</p>
            </div>
        </div>

        <div class="cont">
                <div class="title"><h1 class="section">Work experience</h1></div>
                <div  class="text">
                        <h2>Ovo je naslov</h2>
                        <p>Ovo je tekst koji razmatramo </p>
                </div>
            </div>

        
        <div class="cont">
            <div class="title"><h1 class="section">Skills</h1></div>
            <div class="text">
                <h2>Hard skills</h2>
                
                <h2>Soft skills</h2>
                <p>Ovo je tekst koji razmatramo </p>
            </div>
        </div>
        
        <div class="cont">
            <div class="title"><h1 class="section">Languages</h1></div>
            <div class="text">
                <h2>Ovo je naslov</h2>
                <p>Ovo je tekst koji razmatramo </p>
            </div>
        </div>

        <div class="cont">
            <div class="title"><h1 class="section">Hobbies and interests</h1></div>
            <div class="text">
                <h2>Ovo je naslov</h2>
                <p>Ovo je tekst koji razmatramo </p>
            </div>
        </div>


        
        
    
    <div >
    
</div>

</div>
</body>