<body class="page " *ngIf="resume">
  

    <div class="main">
        <h1 class="maintitle">{{maintitle}}</h1>
        <button class="export">{{buttonLabel}}</button>

        
        <div class="cont" *ngFor="let item of resume">
            <div class="wrapper1">
                <div class="title">
                   <h1 class="section" >{{item.title}}</h1>
            </div>
         </div> 

        
            <div class="wrapper2">
            <div class="textresume" *ngFor="let child of item.children">

                <h2 class="subtitle">{{child.name}}</h2>
                <p>{{child.subject}}</p>
                <p>{{child.shortDescription}}</p>
                <div routerLink="details" (click)="selected(child); selecttitle(item.title)" class="readmore">{{readmoreTitle}}>></div>
                
            </div>
       
        </div>
        </div>
        
    <div></div>
  </div>

</body>

<router-outlet></router-outlet>
