<div class="page">
        <div class="main">
    
            <h1 class="maintitle">{{maintitle}}</h1>
    
            <div class="maincontact">
    
                <div class="inputholder">
    
                    <div class="inputs">
    
                        <input class="inputdiv" type="text" placeholder="{{holderName}}">
                        <input class="inputdiv" type="text" placeholder="{{holderEmail}}">
                        <input class="inputdiv" type="text" placeholder="{{holderSubject}}">
                        <textarea class="writetext" type="text" placeholder="{{holderMessage}}" cols="70" rows="5"></textarea>
                        <button class="send">Send</button>
    
                    </div>
                </div>
    
                <div class="contentholder">
                    <div class="content">
                        <div *ngIf="user" class="divholder">
                            <h2>{{contactHello}}</h2>{{contactText}}</div>
                        <h2>{{contactInformation}}</h2>
                        <div class="contacticons">
                            <div class="icons"><i class="fa fa-phone fa-1x">  {{user.phoneNumber}}</i> </div>
                            <div class="icons"><i class="fa fa-envelope fa-1x">  {{user.email}} </i></div>
    
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    