<div class="page">
    <div class="main">

    <h1 class="maintitle">Contact</h1>

    <p class="sendmemassage">Looking forward to answering your email!</p>

    <div class="inputs">
        
    <input class="inputdiv" type="text" placeholder="Name *">
    <input class="inputdiv" type="text" placeholder="Email *">
    <input class="inputdiv" type="text" placeholder="Subject *">
    <textarea class="writetext" type="text" placeholder="Message" cols="70" rows="5"></textarea>
    <button class="send">Send</button>
    

</div>


</div>



</div>



<!-- <h1 *ngIf="contact">{{contact.address.street}}</h1> -->