.head{
    background-color:   $mainbackground;
    height: 10%;
    width: 100%;
}
.mainInformation{
    float:left;
    color:  $maintextcolor;
    width: 35%;
    height: 100%;
}
.mainInformation > h1 {
    margin-top: 5%;
   
}
.meni{
    height: 100%;
}
ul{

    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    float: right;
    width: 65%;
    height: 100%;
}
li{
    margin-top: 11% ;
    display: inline-block;
    color: $maintextcolor;
    text-align: center;
    padding-left: 5%;
  
}
li:active{
    color: red;
}
.centriraj{
    position: $mainposition;
    display: $maindisplay;
    margin-left: $left;
    margin-right: $right;
    height: 100%;
    width: 50%;
}