.head{
    position: $mainposition;
    margin-left: $left;
    margin-right: $right;
    height: 100%;
    width: 60%;
    display: flex;
}

.mainInformation{
    flex: 1 1 35%;
    color:  $maintextcolor;
    height: 100%;
}
.mainInformation > h1 {
    margin-top: 5%;
   
}
 
.meni{
    flex: 1 1 70%;
   
    ul {
        margin: 67px 0 27px 350px;
        padding: 0;
        width: 100%;
        list-style-type: none;

        li {
            cursor: pointer;
            padding: 0 20px;
            display: inline-flex;
            color: $maintextcolor;
            text-align: center;
            outline:none;

            &.active {
                color: $activecolor;
                outline:none;
            }
        }
    }

}
