.page{
    display: flex;
}
.profilePic{
    width: 100%;

    border-radius: 50%;
    background-color:pink;
    overflow: hidden;
    flex: 1 1 35%;
    img{
    width: 100%;
    object-fit:cover;
    }
}
.homeText{
    flex: 1 1 50%;
    h2,p{
        margin-left: 70px;
    }
    p{
        margin-top: 5px;
    }
    ul{
       
    }
    li{
     

    }
}