*{

    background: $mainbackground;
    font-family: $textstyle;
    color: $maintextcolor;   

}

body{
    height: auto;
    overflow: auto;
    display: flex 1 1 auto;
    
    
}

.main{

   /* width: 50%;
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
    
    
}



.title{
    background: $footerbackground;
    border-radius: $border-radius;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.section{
    color: $textcolor2;
    border-radius:$border-radius;
    text-align: center;
    position: relative;
    font-size: $subtitlefont;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: $footerbackground;

}



.text{
   
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

.education{
    
    display: block;
    height: auto;
    overflow: auto;
    border: 2px solid black;
    
    
}