*{

    background: $mainbackground;
    font-family: $textstyle;
}

div{
    width: 50%;
    height: 60%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}